body{
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(fundo.png);
    background-position: right;
    background-size:contain;
    background-repeat:no-repeat ;
    background-color: #FDFDFD;
}
nav{
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 22vw;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    margin-right: 5%;
    font-size: 1.3vw;
}


nav ul li p{
    height: fit-content;
    position: absolute;
    top: 22%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 0.9vw;
}

nav ul a{
    position: relative;
    height: fit-content;
    text-decoration: none;
    color: black;
}
#primavera{
    background-color: #FCFCFC;
    padding-top: 1%;
    padding-left: 1%;
    height: auto;
    width: 35%;
}

#desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-left: 1%;

}

#decore{
    font-family: 'Nunito Sans', sans-serif;
    color: #0D8F08;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 5%;
}

#botao1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
    color: #0D8F08;
    border: 1px solid #0D8F08 ;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#anunc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20%;
}

.recomend{
    display: inline-flex;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    width:auto;
}


.recomend h1 p{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0;
    color: black;
}

.recomend h1{
    width: 100%;
    margin-left: 5%;
    color: #0D8F08;
    font-weight: 600;
    font-size: 1.5rem;
    
}

#sus{
    letter-spacing: 0.04em;
}

