body{
    background-size: cover;
}

main{
    margin-top: 200px;
    width: 100%;
    height: fit-content;
    margin-bottom: 10%;
}

.titsobre{
    text-align: center;
    font-family: 'Nunito Sans';
    color: #0D8F08;
    font-size: 1.7rem;
    font-weight: 800;
}

.textsobre, br{
    text-align: justify;
    font-family: 'Nunito Sans';
    text-indent:4em;
}

.fundo{
    width: 92%;
    padding: 1%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: fit-content;
    backdrop-filter: blur(7px);
}

.motivo{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span{
    font-weight: 700;
    color: #0D8F08;
}

.colimg{
    display: flex;
    align-items: center;
}

.titfundo{
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Nunito Sans';
    font-weight: 800;
    color: #fff;
    background-image: url(../img/padraotit.png);
    background-size: 3%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1775px){
    .textsobre{
        font-size: .9rem;
    }
}

@media(max-width:1480px){
    .textsobre{
        font-size: .82rem;
    }
}

@media(max-width:991px){
    .col{
        padding-right: 6%;
        padding-left: 6%;
    }
    .motivo{
        margin-bottom:5%;
    }
    .titfundo{
        margin-bottom: 5%;
    }
}

