#produtopage{
    margin-top: 21vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 750px;
    font-family: 'Nunito Sans';
    margin-bottom: 3%;
}

.bga{   
    margin-left: 12%;
    height: 95%;
    width: 78%;
    border-radius: 0;
    justify-self: end;
}

.bga img{
    width:64%;
}

#details h1{
    text-overflow: clip;
}



.btncarrinho{
    margin-left: 2%;
    padding: 6%;
    width: 110%;
    white-space: nowrap;
    gap: 3%;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}
    

.btncarrinho h2{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-size: 1rem;
}

.btncarrinho:active h2{
    color: #fff;
}

.freteform{
    border-radius: 5%;
    padding: 3.3%;
    width: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.itenstota{
    color: #0D8F08;
    font-family: 'Nunito Sans';
    margin-left: 1%;
    margin-right: 1%;
    height: min-content;
    margin-bottom: 0;
    font-weight: 600;
}

.addcar{
    flex-direction: column;
}

#details{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5%;
    width: 88%;
    height: 95.4%;
}



#conditions{
    margin-bottom: 4%;
}


#nomea{
    font-weight: 800;

}

#precospan{
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 4%;
}

.baixo{
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.btnquanti{
    justify-content: space-between;
    width: 110%;
    padding: 1%;
    border: 1px solid #0D8F08;
    margin-left: 2%;
    border-radius: 60px;
    margin-bottom: 6%;
    background-color: #0D8F08;
    display: flex;
    align-items: center;
}

.btsadex i{
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}

.btnquanti p{
    color: #fff;
}

.btsadex i::before{
    border-radius: 50%;
    height: fit-content;
    background-color: #fff;
    -webkit-text-fill-color: #0D8F08;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #0D8F08;
    border: 0;
}

@media(max-width:1300px){
    #produtopage{
        margin-top: 20%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: fit-content;
        align-items: center;
        margin-bottom: 20%;
    }
    #details{
        align-self: flex-start;
        width: 80%;
        justify-self: center;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .btsadex i {
        font-size: 2em !important;
    }
    .btncarrinho h2{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        font-size: 3vw;
    }
    .btncarrinho{
        margin-top: 4%;
        padding: 2%;
        width: 50vw;
        justify-content: space-around;
        height: 7vw;
    }
    .baixo{
        flex-direction: column;
    }
    .btnquanti{
        margin-bottom: 0;
        width: 50vw;
        height: 7vw;
        font-size: 2.5vw;
    }

    .bga{
        height: fit-content;
        margin-left: 0;
        width: 80%;
        justify-self: center;
        align-self: flex-end;
    }
    .freteform{
        width: 60%;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    h5{
        font-size: 1rem;
    }
    #frete{
        margin-bottom: 10%;
    }

    .toast{
        align-self: center;
    }
    
    
}

#descp{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 5%;
    color: black;
}

h5{
    margin-top: 7%;
}

#titdesc{
    font-size: 1.2rem;
    color: #0D8F08;
    margin-top: 0;
}

.fa-heart{
    color: #0D8F08;
}

.divnoma{
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0;
    padding-bottom: 1%;
}