body{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
header{
    padding-top: 10%;
    width: 100vw;
    background-image: url(/assets/img/fundo.png);
    background-position: right;
    background-size:contain;
    background-repeat:no-repeat ;
    background-color: #FDFDFD;
}


nav{
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 100;
    transition: background-color 0.4s ease-in-out;
}

.scrolled{
    background-color: rgba(255, 255, 255, 0.549);
    backdrop-filter: blur(5px);
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 22vw;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 5%;
    font-size: 1.3vw;
}



#carrinho li{
    height: fit-content;
    width: fit-content;

}

#carrinho{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrinho svg{
    width: 70%;
}


#itens{
    position: absolute;
    height: fit-content;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul a{
    position: relative;
    height: fit-content;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;
}

nav ul li:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

#primavera{
    padding-top: 1%;
    padding-left: 1%;
    height: auto;
    width: 35%;
}

#menuham{
    display: none;
}

#carrinho li{
    display: flex;
    align-items: center;
    justify-content: center;
}

#desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding-left: 1%;
    margin-top: 6%;
}

#decore{
    font-family: 'Nunito Sans', sans-serif;
    color: #0D8F08;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 5%;
}

#botao1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
    color: #0D8F08;
    border: 1px solid #0D8F08 ;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#botao1:hover{
    color: #fff;
    background-color: #0D8F08;
}


#anunc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.recomend{
    display: inline-flex;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    width:auto;
}


.recomend h1 p{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0;
    color: black;
}

.recomend h1{
    width: 100%;
    margin-left: 5%;
    color: #0D8F08;
    font-weight: 600;
    font-size: 1.5rem;
    
}

#sus{
    letter-spacing: 0.04em;
}

.dropdown-menu{
    width: 400px;
}

#destaques{
    padding-top: 2%;
    height: fit-content;
    width:95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#titdesc{
    height: fit-content;
    font-size: 4rem;
    margin-bottom: 3%;
}

.wrapper{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#carouselExample{
    width: 100%;
}

.bga img{
    filter: drop-shadow(5px 5px 5px #666666);
    width: 100%;
}

.bga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 15%;
    background-color: #F4F9F3;
    border-radius: 76px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bga-mini img{
    filter: drop-shadow(5px 5px 5px #666666);
    width:70%;
}

.bga-mini{
    margin: 3%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 20%;
    background-color: #F4F9F3;
}

.product{
    padding: 5%;
}

#buda{
    width: 80%;
}

.modificador{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.product h1{
    margin-top: 5%;
    color: #4D4D4D;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Nunito Sans';
}

.preco p{
    font-size: 1.4rem;
    font-family: 'Nunito Sans';
    margin-top: 5%;
    margin-bottom: 1%;
}

.preco p span{
    font-size: 1.2rem;
    font-weight: 700;
}

.areacompra{
    display: flex;
    justify-content: space-between;
}

.btncomprar {
    width: 78%;
    background-color: #0D8F08;
    border: 0;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 14px;
    padding: 2%;
}

.btncarrinho{
    background-color: #fff;
    color: #0D8F08;
    border: 1px solid #0D8F08;
    border-radius: 14px;
    padding-right:2%;
    padding-left:2%;
    width: max-content;
}
.btncarrinho svg{
    fill: #0D8F08;
    width: 55%;
}

#blog{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: fit-content;
    background: #F4F9F3;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    flex-direction: column;
    margin-bottom: 120px;
}

#blogtit{
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 3rem;
    font-family: 'Nunito Sans';
}

.blogimg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.blogimg img{
    width: 80%;
    height: auto;
    background-color: transparent;
}

.blogimg h1{
    margin-top: 3%;
    width: 77%;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 1.6rem;
    color: #4D4D4D;
}

.blogimg p{
    margin-top: 1%;
    width: 77%;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 1rem;
}

.blogimg a{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 1.5rem;
    color: #0D8F08;
    text-decoration: none;
    width: 77%;
}

@media (max-width: 1660px){
    #decore{
        width: max-content;
        font-size: 5rem;
    }
    header{
        background-size: cover;
        background-position: 40%;
    }
    .opcs{
        font-size: 1.3rem;
    }

    nav ul{
        width:22vw;
        margin-left:0;
        padding-left: 0;
    }

    #carrinho li{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #carrinho svg{
        width: 70%;
    }
}

@media (max-width: 1200px){
    #decore{
        width: max-content;
        font-size: 4.5rem;
    }
    #botao1{
        font-size: 1.5rem;
    }
    .opcs{
        font-size: 1.1rem;
    }
    nav ul{
        width:25vw;
        margin-left:0;
        padding-left: 0;
    }

    #carrinho li{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #carrinho svg{
        width: 70%;
    }
    article{
        flex-direction: column;
        align-items: center;

    }
    .recomend{
        width: fit-content;
    }


}



@media (max-width: 1000px){

    #decore{
        margin-top: 10%;
        width: max-content;
        font-size: 4rem;
    }

    #botao1{
        font-size: 1.5rem;
    }
    .opcs{
        font-size: 1rem;
    }
    nav ul{
        width:25vw;
        margin-left:0;
        padding-left: 0;
    }

    #carrinho li{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #carrinho svg{
        width: 70%;
    }
}

@media(max-width: 995px) {
    header{
        background-image: url(/assets/img/Design\ sem\ nome.png);
        background-size:20%;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .opcs{
        display: none;
    }
    nav{
        justify-content: space-around;
        align-items: center;
    }

    nav ul{
        width:auto;
        margin-right:0;
        padding-left: 0;
        margin-top: 3%;
    }

    #primavera{
        width: 45%;

    }
    #carrinho svg{
        width: 70%;
    }

    #carrinho li{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #menuham{
        display: flex;
    }

    #decore{
        margin-top: 10%;
        width: max-content;
        font-size: 5rem;
        margin-left: 0%;
    }

    #botao1{
        margin-left: 0%;
        font-size: 1.3rem;
    }

    #desc{
        width: 80%;
    }
    article{
        margin-top: 10%;
    }
    #itens{
        top:60%;
        left:50%;
    }

    .btsadex i{
        font-size: 1em;
    }





}

@media(max-width: 600px){
    #decore{
        margin-top: 10%;
        width: max-content;
        font-size: 5rem;
        margin-left: 0%;
    }
}
@media(max-width: 480px){
    #decore{
        margin-top: 10%;
        width: max-content;
        font-size: 4.6rem;
        margin-left: 0%;
    }
}

@media(max-width: 400px){
    #decore{
        margin-top: 10%;
        width: max-content;
        font-size: 4.3rem;
        margin-left: 0%;
    }
}


footer{
    display: grid;
    width: 100%;
    height: fit-content;
    background: #F4F9F3;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Nunito Sans';
    margin-bottom: 0;
}

footer .divisao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
}

footer img{
    width: 75%;
    margin-bottom: 2%;
}

.links{
    margin-bottom: 0.4%;
    color: #4D4D4D;
    text-decoration: none;
    text-align: left;
    width: 70%;
    white-space: nowrap;
    font-size: 1rem;

}

#midiasocial{
    background-color: #0D8F08;
    display: flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color:#fff;
    flex-shrink: 0;
    width: 48px;
    height: 48px;

}

#fb{
    padding: 1%;
    display: flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    color: #0D8F08;
}

#fb i{
    width: 48px;
    height: 48px;
}

#midiasocial i{
    margin-top: 1%;
}



#logos{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;
    gap: 15%;
}

#cima{
    color: #fff;
    border-radius: 50%;
    background-color: #0D8F08;
    aspect-ratio: 4/4;
    padding: 5%;
    display: block;

}

#container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: #4D4D4D;
    margin-bottom: 10%;
    white-space: nowrap;
}

#container p{
    margin-left: 4%;
    margin-bottom: 0;
}

#termos{
    color: #4D4D4D;
    text-decoration: none;
    margin-bottom: 5%;
    font-size: 1rem;
}

@media(max-width: 600px){
    #termos{
        width: auto;
    }
    .links{
        width: auto;
    }

    #midiasocial{
        transform: scale(0.7);
    }

    #fb{
        transform: scale(0.7);
    }

}

#cartoes{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #0D8F08;
    row-gap: 10%;
    column-gap: 1%;
}

#cartoes i{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:802px){
    #cartoes{
        width:100%;
        row-gap: 0;
        column-gap: 0;
    }
}

@media(max-width:600px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #a { order: 1; }
    #b { order: 3; }
    #c { 
        width: 50%;
        order: 2; 
    }

    footer img{
        margin-top: 2%;
    }
    


    h4{
        text-align: center;
        margin-top: 4%;
    }
    #container{
        margin-bottom: 3%;
    }
    .dropdown-menu{
        width: 350px;
    }
    .divisao{
        width: 100vw;
    }
}

@media(max-width:600px){
    .dropdown-menu{
    width: 350px;
    }




    .produto{
        align-items: center;
    }
}

.textterms{
    font-family: 'Nunito Sans';
}


.modal-content{
    font-family: 'Nunito Sans';
}

@media(max-width:994px){
 .product{
    width: 70%;
 }
 .glide__slide{
    display: flex;
    align-items: center;
    justify-content: center
 }   
}
@media(max-width:800px){
    .product{
        width:auto;
    }

}

@media(max-width:600px){
    #logos{
        margin-top: 0;
        margin-bottom: 2% ;
        gap: 1%;
    }
    .btncomprar{
        width: 72%;
    }
}

#headercarrinho{
    color: #0D8F08;
    font-size: 'Nunito Sans';
}


.itenstot{
    color: #0D8F08;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    height: min-content;
    margin-bottom: 0;
    font-weight: 600;
}

.qtd{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtd a i{
    color:#0D8F08;
}

.qtd p{
    color: #0D8F08;
    margin-bottom: 0;
}

.desc{
    width: 100%;
    font-weight: 700;
}

.btn-excud{
    color: #c6c6c6;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
}

.btsadex{
    color: #0D8F08;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
}

.nomeprodut{
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#produtos{
    max-height: 45vh;
    overflow-y: scroll;
}

.soma h4{
    font-family: 'Nunito Sans';
    font-size: 1.5rem;
}

.soma{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.soma p{
    float: right;
}

.btncarrinho:active{
    background-color: #0D8F08;
}

.btncarrinho:active svg{
    fill: #fff;
}

.fa-caret-up{
    color: #d6dade;
    right: 2%;
    top:-2.3%;
    position: absolute;
}

@media(max-width:995px){
    #produtos{
        max-height: 20vh;
    }
}

h4{
    text-align: center;
}

